body{
  background-color: black;
}

#wrapper{
  background-color: white;
  height: 170px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.movement{
  background-color: black;
  height: 300px;
}
.gbox{
  background-color: green;
  width: 1420px;
  height: 150px;
}

.dotbox{
  border: dotted black;
}
